
@{
    ViewBag.Title = "LessonText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Ders Dökümanları</title>

<div style="margin-top:30px">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">DERSLER</th>
                <th scope="col">DERS DÖKÜMANLARI</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">C#</th>
                <td>
                    <a href="https://www.baskent.edu.tr/~tkaracay/etudio/ders/prg/csharp/ch01.pdf">C# PDF</a>
                </td>

            </tr>
            <tr>
                <th scope="row">Python</th>
                <td>
                    <a href="https://bahcelianadolu.meb.k12.tr/meb_iys_dosyalar/06/06/964306/dosyalar/2020_12/22205648_21205748_2._DYnem_1._SYnav_Ders_NotlarY.pdf">Python PDF</a>
                </td>

            </tr>
            <tr>
                <th scope="row">C++</th>
                <td>
                    <a href="https://web.itu.edu.tr/mscelebi/files/cplusplus/Lecture1.pdf">C++ PDF</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>


