
@{
    ViewBag.Title = "LessonVideos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="container">

    <div style="margin-top:20px"></div>
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>C#</h2>
            <iframe height="300" width="460" src="https://www.youtube.com/embed/J_Rp4fKOr68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
            <hr />
        </div>
        <div class="col-md-6">
            <h2>
                <mark>
                    SOLİD Prensipleri
                </mark>
            </h2>
            <p>
                <strong>
                    Geliştirme yaparken Java, C# gibi Object Oriented Programming (Nesneye Yönelimli Programlama) mimarisine sahip dilleri tercih eden şirketlerin iş ilanlarında sıkça aranılan özellik olan ve mülakatlarda mutlaka “SOLİD prensipleri nelerdir?” sorusu karşımıza çıkar.

                    Yazılımcılar büyük ölçekli projeler geliştirmeye başladığından beri birçok temel sorun ile karşılaşmıştır. Sorunların her birine farklı yaklaşımlar getirerek çözümler ortaya konulmuş ve bunların bir kısmı yazılım camiasından kabul görerek günümüzde aktif olarak kullanılan Design Patterns ve Prensipleri oluşturmuştur. Biz bugün bu kabul gören prensiplerden biri olan Solid prensibini inceleyeceğiz.

                    Solid Prensipleri, yazılım geliştirme süreçlerinde karşılaşılan temel sorunlara getirilen ve içerisinde 5 temel prensibi barındıran prensipler bütünüdür.
                </strong>
            </p>
            <a style="font-size:15px" href="https://medium.com/pirilab/soli%CC%87d-prensipleri-1-1412bb3f1c70">Solid Prensipleri Araştırmaları</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>
                PYTHON
            </h2>
            <iframe height="300" width="460" src="https://www.youtube.com/embed/JeznW_7DlB0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
            <hr />
        </div>
        <div class="col-md-6">
            <h2>
                <mark>
                    Python ve OOP
                </mark>
            </h2>
            <p>
                <strong>
                    Python, Windows ve Unix benzeri sistemlerde, yani Linux veya Mac OSX'te çalışan birçok uygulamada kullanılan çapraz platform bir dildir. Standart kitaplığı ve üçüncü taraf kitaplıkları, Yapay Zeka (AI), Web Geliştirme, Robotik, ses/video tabanlı uygulamalar vb. gibi programlama projelerinde uygulanan birçok işlemi gerçekleştirmek için faydalı modüller sağlar. Bu özellikler, GitHub'da gösterildiği gibi Python'un en yaygın kullanılan programlama dillerinden biri olmasının nedenlerinden bazılarıdır .

                    Python, prosedürel ve işlevsel yaklaşımda programlamak için kullanılan çok paradigmalı bir dildir , ancak Python'un kalbi nesne yönelimli programlamadır (OOP). Bu yaklaşım, programların rastgele miktarlar ve veri türleri içeren nesneler etrafında düzenlenmesinden oluşur . Bu nesneler oluşturulur ve çalışma zamanı sırasında değiştirilebilir. Her nesne, nitelik referansları olarak adlandırılan bazı değişkenler ve işlevlerden oluşan bir şablon olarak görülebilen bir sınıfın örneği olarak bilinir . Bu öznitelikler , her örneğin durumunu koruyan veri özniteliklerine veya yalnızca özniteliklere ve durumlarını değiştiren yöntemler .
                </strong>
            </p>
            <a style="font-size:15px" href="https://medium.datadriveninvestor.com/python-object-oriented-programming-d861ac0b5d9f">Python ve OOP Araştırmaları</a>
        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>C++</h2>
            <iframe height="300" width="460" src="https://www.youtube.com/embed/8jLOx1hD3_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
            <hr />
        </div>
        <div class="col-md-6">
            <h2>
                <mark>
                    Object Oriented Programlama C++
                </mark>
            </h2>
            <p>
                <strong>
                    Nesne yönelimli programlama, karmaşık sorunları nesneleri kullanarak daha küçük sorunları ayırarak çözmenin bir yoludur. Bildiğimiz gibi, nesne yönelimli programlamadan (yaygın olarak OOP olarak anılır) önce, daha büyük problemlerin daha küçük alt problemlere bölündüğü ve fonksiyonlar olarak yazıldığı prosedürel programlamada programlar yazıldı.


                </strong>
            </p>
            <a href="https://medium.com/derya.cortuk/object-oriented-programming-in-c-221054f6f446" style="font-size:15px">
                C++'da Nesne Yönelimli Programlama Araştırmaları
            </a>
        </div>
    </div>

    <hr />
</body>

