@using ExamProject.Models
@model List<ConnectionMethods>

@{
    ViewBag.Title = "ExamResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExamResults</h2>
<body class="container">
    <h3> Exam Results </h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <thead>

                    <tr>
                        <td>Kullanıcı Emaili</td>
                        <td>Doğru Sayısı</td>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td>@foreach (List item in Model)
                        {

                        }        
                        </td>


                        @*<td>@Session["Not"]</td>*@
                    </tr>

                </tbody>

            </table>


        </div>

    </div>

</body>

@*<script type="text/javascript">




    $.ajax({
        type: "POST",
        url: "/Exam/ExamResult",
        data: JSON.stringify(questionsTables),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (result) {
            console.log(result);
            $("#txtSonuc").html(result);
  



        },
        error: function (result) {
            console.log(result);
        }
    });

</script>*@